/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
.container{
    background: #ddd;
}


.balloons img:nth-child(1){
    position: absolute;
    top: 550px;
    left: 150px;
}
.balloons img:nth-child(2){
    position: absolute;
    top: 1200px;
    left: 550;
}
.balloons img:nth-child(3){
    position: absolute;
    top: 1800px;
    left: 350px;
}










.back-clouds img:nth-child(1){
    position: absolute;
    top: 150px;
    left: 200px;
}
.back-clouds img:nth-child(2){
    position: absolute;
    top: 300px;
    left: 750px;
}
.back-clouds img:nth-child(3){
    position: absolute;
    top: 550px;
    left: -50px;
}
.back-clouds img:nth-child(4){
    position: absolute;
    top: 1050px;
    left: 250px;
}
.back-clouds img:nth-child(5){
    position: absolute;
    top: 1500px;
    left: 500px;
}






.mid-clouds img:nth-child(1){
    position: absolute;
    top: 250px;
    left: 400px;
}
.mid-clouds img:nth-child(2){
    position: absolute;
    top: 500px;
    left: 950px;
}
.mid-clouds img:nth-child(3){
    position: absolute;
    top: 350px;
    left: -150px;
}
.mid-clouds img:nth-child(4){
    position: absolute;
    top: 1250px;
    left: 450px;
}
.mid-clouds img:nth-child(5){
    position: absolute;
    top: 1700px;
    left: 700px;
}