@import url('https://fonts.googleapis.com/css?family=Bangers|Caveat|Underdog|Yantramanav&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Utsende på sida */
body {
    background: url(./bilder/bullfika.jpg);
}
/* utesende på boxen */
div {
    background-color: brown;
    width: 500px;
    margin: 100px auto 0 auto;
    border-radius: 25px;
    border: solid 15px #ce630c;
    padding: 30px 20px 30px 35px;
    background-color: blanchedalmond;
    box-shadow: 5px 5px 10px black;
}
h1 {
    font-family: 'Hind Guntur', sans-serif;
    padding: 0px 0px 17px 0px;
    color: #a75a00;
}
p {
    font-family: 'Yantramanav', sans-serif;
    padding: 0px 0px 17px 0px;
    color: #a75a00;
}
h2 {
    font-family: 'Hind Guntur', sans-serif;
    padding: 0px 0px 17px 0px;
    color: #a75a00;
}
ul {
    font-family: 'Yantramanav', sans-serif;
    padding: 0px 0px 17px 0px;
    color: #a75a00;
    list-style: none;
}
li {
    font-family: 'Yantramanav', sans-serif;
    color: #a75a00;
}
.besrkivning {
    font-weight: bold;
}